:root {
    --title-color: #212121;
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --accent-color: #2196f3;
    --primary-color:  #ffffff;
    --secondary-color: #f5f4fA;
    --logo-font: 'Raleway', sans-serif;
    --text-font: 'Roboto', sans-serif;
}
* {
    outline: 1px solid palevioletred;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
img {
    display: inline-block;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
body {
    font-family: var(--text-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    box-sizing: border-box;

    width: 1600px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50% 50% 50% 50%);
    margin: -1px;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.title {   
    font-weight: 700;
    color: var(--title-color);    
}
.section-title {    
    font-size: 36px;
    line-height: 1.17em;
    text-align: center;
}
.item-title {
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
}
.logo {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-black {
    color: #000000;
}
.logo-white {
    color: var(--secondary-text-color);
}
.primary-button {
    font-family: var(--text-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px 10px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.flexcontainer {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.header {
    padding: 26px 0 24px;
}
.header-container {
    align-items: center;
}
.header-logo {
    margin-right: 85px;
}
.header-nav-item {
    align-items: center;
}
.header-nav-item:not(:last-child) {
    margin-right: 50px;
}


.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.header-contact-item {
    padding-left: 25px;
}
.header-contact-item:not(:first-child) {
    margin-left: 25px;
}
.header-contact-link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.hero {
    text-align: center;
    background: gray;
    padding: 200px 0;
}
.hero-title {
margin-bottom: 32px;
}

.feature {
    padding: 94px 0 0;
}
.feature-item {
    width: 270px;
}


.footer {
    color: var(--secondary-text-color);
    background: #000;
}
.footer-contact {
    font-style: normal;
}
.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
}
.footer .item-title {
    color: var(--secondary-text-color);
}